<div>
  <section class="main position-relative" role="main">
    <div class="row">
      <app-navbar style="width: 100%"></app-navbar>
    </div>
    <div class="row">
      <div class="col-2 col-md-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-10 col-md-9">
        <a href="https://github.com/isaacplmann/ngx-tour" rel="nofollow" target="_blank" class="btn btn-default">View on
          GitHub</a>
        <a style="cursor: pointer" (click)="tourService.toggle()" class="btn btn-primary" tourAnchor="start.tour">Start
          Demo Tour</a>
        <router-outlet></router-outlet>
        <tour-step-template></tour-step-template>
      </div>
    </div>
  </section>
</div>