<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Configure rules for TrumpWare2021</p>

    <div>
      <button (click)="onNewRule()" class="btn btn-primary">New</button>
      <button (click)="onSave()" class="btn btn-secondary">Save</button>
      <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    </div>

    <div class="mt-5">
      <ul>
        <ng-container *ngFor="let item of rules">
          <div class="row mb-1">
            <span class="mr-5" style="min-width: 200px;">
              {{ item.rule }}
            </span>
            

            <div class="controls">
              <button class="btn btn-warning ml-5" (click)="item.edit = !item.edit">Edit</button>
              <button class="btn btn-danger ml-5">Delete</button>
            </div>
          </div>

          <!-- Can this be an ng-container as well? -->
          <div *ngIf="item.edit">
            <app-trumps-rules-item class="ma-2" [item]="item"></app-trumps-rules-item>
          </div>

        </ng-container>
      </ul>
    </div>

  </form>
</div>
