<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="text-secondary">Configure rules for trump_ware2021.py</p>

    <div>
      <button (click)="onNewRule()" class="btn btn-dark">New</button>
      <button (click)="onSave()" class="btn btn-secondary">Save</button>
      <button (click)="onCancel()" class="btn btn-secondary">Cancel</button>
    </div>

    <div class="mt-5">
      <ul>
        <ng-container *ngFor="let item of rules; let i = index">
          <div class="row mb-1">
            <span class="mr-5" style="min-width: 200px;">
              {{ item.rule }}
            </span>
            

            <div class="controls">
              <button class="btn btn-secondary ml-5" (click)="activeIndex === i ? activeIndex = null : activeIndex = i">Edit</button>
              <button class="btn btn-dark ml-5">Delete</button>
            </div>
          </div>

          <!-- Can this be an ng-container as well? -->
          <div *ngIf="activeIndex === i">
            <rules-item class="ma-2" [item]="item" (passUpCancelEvent)="activeIndex = null"></rules-item>
          </div>

        </ng-container>
      </ul>
    </div>

  </form>
</div>
