html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.custom-tour-class,
.custom-tour-class .popover-header,
.custom-tour-class .popover-body {
  color: #eee;
  background-color: #000 !important;
  border-color: #333;
}
.custom-tour-class .popover-arrow:before,
.custom-tour-class .popover-arrow:after {
  border-top-color: #333 !important;
}
