<div class="container-fluid">
  <div class="row">
    <nav
      class="col-md-10 d-none d-md-block bg-light sidebar"
      style="height: 100vh"
    >
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#" [routerLink]="['/dash']">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/chart']">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/products']">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/customers']">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/blog']">
              <span data-feather="bar-chart-2"></span>
              Blog
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/albums']">
              <span data-feather="users"></span>
              Albums
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/pricing']">
              <span data-feather="file"></span>
              Pricing
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/checkout']">
              <span data-feather="shopping-cart"></span>
              Checkout
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/docs']">
              <span data-feather="layers"></span>
              Docs
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
